<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.work.dao.mapper.TaskInfoMapper">
    <resultMap id="TaskInfoResultMap" type="TaskInfo">
        <id column="task_id" property="taskId" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="NVARCHAR"/>
    </resultMap>

    <select id="findAll" resultMap="TaskInfoResultMap">
        SELECT * FROM task_info
    </select>
</mapper>